.switch-box {
  width: 470px;
  height: 380px;
}

.switch {
  display: inline-block;
  margin: 8px;
}

.switch .slider {
  position: relative;
  display: inline-block;
  height: 6px;
  width: 24px;
  border-radius: 6px;
  cursor: pointer;
  background: #c5c5c5;
  transition: all 0.2s ease;
}

.switch .slider:after {
  background: #eeeeee;
  position: absolute;
  left: -6px;
  top: -6px;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  content: '';
  transition: all 0.2s ease;
}

.switch label {
  margin-right: 7px;
}
.switch .input {
  display: none;
}
.switch .input ~ .label {
  margin-left: 6px;
}
.switch .input:checked ~ .slider:after {
  left: 12px;
}
.switch .input:checked ~ .slider {
  background: #7be8a7;
}
.switch .input:checked ~ .slider:after {
  background: #50e08a;
}

@media only screen and (max-width: 700px) {

  .switch {
    margin: 6px;
  }

  .switch-box {
    width: 280px;
    text-align: center;
    height: 495px;
  }

  .switch .slider {
    height: 6px;
    width: 20px;
  }

  .switch .slider:after {
    left: -4px;
    top: -4px;
    width: 14px;
    height: 14px;
  }
}
