.intro-component {
  margin: auto;
}

header img {
  height: 330px;
  padding-right: 50px;
}

header h1 {
  margin-top: 0px;
  font-size: 28px;
}

header p {
  font-size: 16px;
  margin-bottom: 20px;
}

.zen-zone-intro {
  width: 400px;
}

@media only screen and (max-width: 700px) {

  .intro-component {
    width: 100%;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    text-align: center;
  }

  .intro-component img {
    padding: 0px;
    height: 230px;
    padding-bottom: 20px;
  }

  .zen-zone-intro {
    width: 100%;
  }

  header h1 {
    font-size: 22px;
  }

}
   