* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito', helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
}

#root, .app {
  height: 100%;
}

.app {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.app > div > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.center.vertical {
  flex-direction: column;
}

a {
  color: lightseagreen;
}

button {
  font-family: inherit;
  font-size: 20px;
  padding: 13px 20px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(135deg, #7ae7ec 0%,#ef99fe 100%);
  border: 0px;
  font-weight: bold;
  cursor: pointer;
  
  opacity: 1;
  transition: opacity 300ms ease;
}

button:hover {
  opacity: 0.8;
}

.section-options button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin: 10px;
  font-size: 24px;
}

.back {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 300ms ease;
  z-index: 2;
}

.back img {
  width: 100%;
  height: 100%;
}

.back:hover {
  opacity: 1;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms 400ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 400ms ease;
}

@media only screen and (max-width: 700px) {
  .section-options {
    display: flex;
    flex-direction: column;
  }

  .section-options button {
    width: 150px;
    height: 150px;
  }
}
